body{
    padding: 0;
    margin: 0;
    background: #000;
}
.tables{
    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: white solid 2px;
    
}
.table{
    color: white;
    font-size: 50px;
}
.container{
    background:rgb(79, 77, 77);
    color: white;
    border: white solid 2px;
    padding-right: 150px;
    padding-left: 150px;

}
.names{
list-style: none;
align-items: center;
margin: 0px;
padding-inline-start: 70px;
padding-inline-end: 0px;
}